body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  background-color: #ccc;
  box-sizing: border-box;
}

.calculator {
  border: 1px solid red;
  border-radius: 10px;
  overflow: hidden;
  max-width: 500px;
  margin: auto;
  padding: 10px;
  background-color: #fff;
}

.display {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px;
  font-size: 21px;
  text-align: right;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

button{
    width: 100%;
    padding: 10px;
    font-size: 19px;
    cursor: pointer;
}
